# .replit
language = "python3"
run = "python main.py"
entrypoint = "main.py"

[nix]
channel = "stable-22_11"

[env]
VIRTUAL_ENV = "/home/runner/${REPL_SLUG}/venv"
PATH = "${VIRTUAL_ENV}/bin:/home/runner/${REPL_SLUG}/.local/bin"
PYTHONPATH = "./"
REPLIT_DISABLE_IPYTHON = "1"

[packager]
language = "python3"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[unitTest]
language = "python3"

[debugger]
support = true
transport = "localhost:0"

[git]
enable = true

[deployment]
run = ["python", "main.py"]
build = ["pip", "install", "-r", "requirements.txt"]
